/* Estilo específico para blog.koalite.com */


/* Títulos */
h1, h2, h3, h4, h5, h6 {
	letter-spacing: inherit;
}

/* Fuera iconos de los posts */
span.format-standard:before { 
	content: ""; 
}

/* Cabecera más clásica */
.site-title {
	float: none;	
	font-size: 3em;
	font-weight: 800;
	margin: 10px 10px 0 0;
}

.site-description {
	float: none;
	background-color: transparent;
	float: none;
	font-size: 1.5em;
	font-weight: 600;
	color: #5c5b5a;
	max-width: inherit;
	padding: 0;
}

h2.site-description {
	margin: 0 0 40px 0;
	letter-spacing: inherit;
}

.site-description:after {
	border: none;
}

/* Botones del menú de navegación */
.menu-item {
	padding-left: 8px;
	padding-right: 8px;
}

.home #menu-header li:nth-of-type(1) { /* elimina el botón de inicio en la página de inicio */
	display: none;
}

/* Formato de la página de inicio */
.intro h2 {
	font-size: 24px;
	font-weight: 600;
}

.intro-posts ul {
  list-style: none;
  margin-left: 0;
}

.intro-tags .tag-cloud {
	line-height: 1.4em;
}